<nav class="navbar navbar-light border-bottom border-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://png.pngtree.com/png-vector/20191030/ourmid/pngtree-hospital-icon-png-image_1922195.jpg"
                 alt="Logo" max-width="20%" height=70>

            Phòng khám siêu cấp VJPPRO</a>
        <form class="d-flex ">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="dropdown" style="padding-right: 61px;">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://png.pngtree.com/png-vector/20191030/ourmid/pngtree-hospital-icon-png-image_1922195.jpg"
                     alt="hugenerd" width="30" height="30" class="rounded-circle border border-dark">
                <span class="d-none d-sm-inline mx-1 ">User</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                <li><a class="dropdown-item" href="#">Thông tin</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</nav>

