<nav class="navbar navbar-light border-bottom border-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://png.pngtree.com/png-vector/20191030/ourmid/pngtree-hospital-icon-png-image_1922195.jpg"
                 alt="Logo" max-width="20%" height=70>Phòng khám siêu cấp VJPPRO
        </a>
        <form class="d-flex ">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div>
            <div class="text-end">
                <a href="/login/"><button type="button" class="btn btn-outline-dark me-2">Log in</button></a>
                <a href="/register/"><button type="button" class="btn btn-warning">Sign-up</button></a>
            </div>
        </div>

    </div>
</nav>

