<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<nav class="navbar navbar-light border-bottom border-dark sticky-top bg-white">
    <div class="container-fluid">


        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Klinik</h1>
        </a>

        <form class="d-flex ">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div>
            <ul class="navbar-nav flex-row d-flex align-items-center">
                <li class="nav-item p-3">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="/gioithieu">Giới thiệu</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="/datlichkham">Đặt lịch</a>
                </li>
                 <li class="nav-item p-3">
                    <a class="nav-link" href="/">Dịch vụ</a>
                </li>
                <li class="nav-item p-3">
                    <a class="nav-link" href="/">Liên hệ</a>
                </li>
            </ul>
        </div>

        <div>
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-decoration-none px-4 "
                   id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ current_user.avatar }}"
                         alt="hugenerd" width="35" height="35" class="rounded-circle border ">
                    <span class="d-none d-sm-inline mx-1" style="font-weight:bold;">{{ current_user.username }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="z-index:999;">
                    <li><a class="dropdown-item" href="#">Thông tin</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout/">Đăng xuất</a></li>
                </ul>
            </div>

            {% else %}
            <div id="login-signup">
                <a href="/login/">
                    <button type="button" class="btn btn-outline-light text-primary me-2">Log in</button>
                </a>
                <a href="/register/">
                    <button type="button" class="btn btn-outline-light text-primary">Sign-up</button>
                </a>
            </div>
            {% endif %}

        </div>
    </div>
    </div>
</nav>


